* {
  padding: 0;
  margin: 0;
}

body {
  background: #2e434b;
  background-image: radial-gradient(circle, #4c7180 0%, #0c1b21 100%);
}

body .container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}

body .container :before, 
body .container :after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
}

.batman-container {
  position: absolute;
  height: 250px;
  width: 75px;
  top: calc(50% - (250px / 2));
  left: calc(50% - (75px / 2));
}

.batman {
  height: 85px;
  width: 75px;
  margin: 74px auto 0 auto;
  position: relative;
}

.batman * {
  position: absolute;
}

.batman .head {
  top: -73px;
  left: calc(50% - (63px / 2));
  width: 63px;
  height: 67px;
  background-image: radial-gradient(circle, #f5c192 0%, #744f2d 100%);
  box-shadow: 0px 16px 10px -18px rgba(0, 0, 0, 0.5), inset 0px -16px 5px -15px rgba(0, 0, 0, 0.2), inset -18px 0px 15px -15px rgba(0, 0, 0, 0.5);
  border-radius: 25%;
}

.mouth {
  top: 33px;
  left: 30%;
  z-index: 3;
  width: 60px;
  height: 60px;
}

.mouth-shadow {
  top: 3px;
  right: 5px;
  background-color: transparent;
  transform: rotate(8deg);
}

.inner-mouth {
  top: 5px;
  left: 1px;
  background-color: transparent;
  transform: rotate(8deg);
}

.batman .head .mouth:before {
  top: 16px;
  left: 14px;
  height: 0;
  width: 0;
  border: 1px solid transparent;
  border-right-color: #333333;
  border-right-width: 5px;
  z-index: 10;
}

.chin {
  bottom: -14px;
  left: 25px;
}

/* from emmet */
.batman .body {
  top: 0;
  left: calc(50% - ((75px + 24px) / 2));
  height: 0;
  width: 75px;
  border-style: solid;
  border-width: 0 11.5px 85px 11.5px;
  border-color: transparent transparent #1c1d1d transparent;
  z-index: 4;
}

.ellipse {
  top: 6px;
  left: 14px;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  background-color: #F2D321;
}

.batman-sign {
  top: 4px;
}

/*
.batman .body:before, 
.batman .body:after {
  top: 22px;
  height: 40px;
  width: 18px;
  border-top: 3px solid #000000;
  z-index: 4;
}

.batman .body:before {
  left: 18px;
}

/* .batman .body:after {
  right: 18px;
}

.batman .body:before {
  border-right: 2px solid #000000;
  transform: skewY(25deg);
}

/* .batman .body:after {
  border-left: 2px solid #000000;
  transform: skewY(-65deg);
} */
/* 
.batman .body .shirt {
  top: 2px;
  left: calc(50% - (38px / 2));
  height: 30px;
  width: 38px;
  z-index: 3;
  background: #FFFFFF;
  clip-path: polygon(50% 95%, 15% 0, 85% 0);
}

.batman .body .shirt:before, .batman .body .shirt:after {
  top: 0;
  height: 40px;
  width: 20px;
  background: #2872BA;
  border: 1px solid #000000;
  z-index: 1;
}

.batman .body .shirt:before {
  left: 0;
}

.batman .body .shirt:after {
  right: 0;
}

.batman .body .shirt:before {
  border-radius: 1% 90% 1% 20%/1% 70% 1% 20%;
}

.batman .body .shirt:after {
  border-radius: 90% 1% 20% 1%/70% 1% 20% 1%;
}

.batman .body .shirt .collar {
  top: -3px;
  height: 20px;
  width: 20px;
  z-index: 2;
}

.batman .body .shirt .collar.left {
  left: -10px;
  transform: rotate(45deg);
}

.batman .body .shirt .collar.right {
  right: -10px;
  transform: rotate(-45deg);
}

.batman .body .shirt .collar.left {
  border-right: 1px solid #000000;
}

.batman .body .shirt .collar.right {
  border-left: 1px solid #000000;
}

.batman .body span {
  top: 2px;
  height: 81px;
  width: 10px;
  background: #D3CDCC;
  z-index: 2;
}

.batman .body span:nth-of-type(1) {
  left: 4px;
}

.batman .body span:nth-of-type(2) {
  right: 4px;
}

.batman .body span:nth-of-type(3) {
  top: -7px;
  left: 32px;
  height: 78px;
}

.batman .body span:nth-of-type(4) {
  top: 34px;
  left: 32px;
  height: 89px;
}

.batman .body span:nth-of-type(3), .batman .body span:nth-of-type(4) {
  transform: rotate(90deg);
}

.batman .body .pen {
  top: 48px;
  left: 6px;
  height: 10px;
  width: 6px;
  background: #006FAD;
  border-radius: 5px 5px 0 0;
  z-index: 10;
  border: 2px solid #000000;
}

.batman .body .pen:before {
  top: -6px;
  left: calc(50% - 2px);
  height: 4px;
  width: 4px;
  background: #006FAD;
}

.batman .body .pen:after {
  top: 4px;
  left: calc(50% - 1px);
  height: 15px;
  width: 2px;
  background: #000000;
}

.batman .body .pocket {
  top: 60px;
  width: 25px;
  height: 6px;
  border: 2px solid #000000;
  z-index: 5;
  border-radius: 2px 2px 0 0;
}

.batman .body .pocket.left {
  left: -5px;
}

.batman .body .pocket.right {
  right: -5px;
}
 */

/* no changes needed: finished */
.batman .shoulder  {
  top: 4px;
  width: 24px;
  height: 54px;
  background: #1c1d1d;
  left: -22px;
  transform: rotate(25deg);
  border-radius: 50px 40px 0 0;
  box-shadow: inset -15px 0 1px -5px #0000004d;
  overflow: hidden;
}

.glare {
  height: 80px;
  width: 28px;
  left: 19px;
  top: -1px;
  border-left: #ffffff2c 1px solid;
  border-radius: 10px/15px;
  transform: scaleX(2.1);
}

.glare-shadow {
  width: 16px;
  height: 100%;
  left: -5px;
  background: linear-gradient(to bottom, #1c1d1d00 0%, #1c1d1da6 10%, #1c1d1d 30%);
  top: 11px;
}

.batman .shoulder.right {
  transform: rotateY(180deg) rotate(25deg);
  left: 73px;
}

/* done */
.batman .arm {
  bottom: 1px;
  width: 24px;
  height: 35px;
  background: #1c1d1d;
  border-radius: 15% 15% 50% 50%/15% 15% 10% 10%;
  overflow: hidden;
  left: -35px;
  transform: rotate(8deg);
  box-shadow: inset -10px 0 1px -5px #0000004d;
}

.glare-arm {
  width: 5px;
  top: 2px;
  left: 3px;
  height: 100%;
  background: #ffffff2c;
  border-radius: 5px;
}

.glare-shadow-arm {
  width: 10px;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to bottom, #1c1d1d00 0%, #1c1d1d 60%);
}

.batman .arm.right {
  transform: rotateY(180deg) rotate(10deg);
  left: 86px;
}

.batman .hand {
  left: -38px;
  bottom: -22px;
  height: 12px;
  width: 12px;
  border: 6px solid #242424;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-shadow: 3px -1px 0 -1px #1c1d1d, inset 4px 2px 0 -2px #1c1d1d;
  transform: rotate(5deg);
}

.batman .hand:after {
  bottom: -3px;
  left: -4px;
  height: 6px;
  width: 7px;
  background: #242424;
  border-radius: 50%;
  box-shadow: 13px 0 0 0 #242424;
}

.batman .hand .wrist {
  top: -10px;
  height: 10px;
  width: 9px;
  background: #242424;
  border-radius: 2px 2px 0 0;
  box-shadow: 4px -2px 2px -2px #1c1d1d;
  left: calc(50% - 5px);
}

/* pseudo-element */
.batman .hand .wrist::after {
  content: "";
  position: absolute;
  top: -2px;
  width: 23px;
  height: 8px;
  border-radius: 50%;
  background: #161616;
  right: calc(50% - (22px / 2));
  z-index: -1;
}

.batman .hand.right {
  transform: rotateY(180deg) rotate(10deg);
  left: 91px;
}

/* 
.batman .belt {
  bottom: -13px;
  left: calc(50% - (91px / 2));
  width: 83px;
  height: 9px;
  background: #000000;
  border: 2px solid #F16017;
  border-left-width: 4px;
  border-right-width: 4px;
  z-index: 4;
}

.batman .belt:before, .emmet .belt:after {
  top: 0;
  height: 9px;
  width: 4px;
  background: #F16017;
}

.batman .belt:before {
  left: 5px;
}

.batman .belt:after {
  right: 5px;
}

.batman .belt:before {
  box-shadow: 15px 0 0 0 #F16017;
}

.batman .belt:after {
  box-shadow: -15px 0 0 0 #F16017;
}

.batman .belt .buckle {
  height: 9px;
  width: 20px;
  left: calc(50% - 10px);
  background: #D3CDCC;
}

.batman .belt .buckle:before {
  top: calc(50% - ((5px / 2) + 2px));
  left: calc(50% - (5px / 2));
  height: 5px;
  width: 5px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-radius: 50%;
  transform: rotate(-45deg);
} */

/* done, no changes needed */
.batman .pelvis {
  bottom: -49px;
  left: calc(50% - (93px / 2));
  width: 93px;
  height: 36px;
  background: #282929;
  box-shadow: inset 0 18px 8px -8px #131313, inset 0 -20px 15px -10px #131313;
  border-bottom: 1px solid #1f2121;
  border-top: 1px solid #1f2121;
}

.batman .pelvis:before {
  left: calc(50% - (6px / 2) - 1px);
  width: 6px;
  height: calc(100% - 2px);
  border: 1px solid #19191a;
  border-top: 0;
  box-shadow: inset 0 -5px 5px 0 #00000033;
}

.batman .pelvis .leg {
  bottom: -53px;
  width: 42.5px;
  height: 52px;
  background: #282929;
  box-shadow: inset 5px 5px 20px 2px #00000080;
  border: 1px solid #121213;
  border-bottom: none;
}

.batman .pelvis .leg.right {
  right: 0;
}

.batman .pelvis .leg .foot {
  bottom: 0;
  right: -1px;
  height: 15px;
  width: 100%;
  box-shadow: 0 -4px 10px -4px #444748f5;
  border: 1px solid #19191a;
}
